@import './base/extends';

/*body index*/
section.flexindex{
 @include flex (row,center,center);
}

    .atajoynombre {
        text-align: center;
        @include margen (20vh, 0px, 0px, 0px);
        width: 50%;

        .minombre {
            p {
                font-size: map-get($letras, "letra-default");
                font-style: oblique;
                font-stretch: expanded;
            }

            h1 {
                font-size: map-get($letras, "letra-titulo");
            }

            .mir {
                font-size: map-get($letras, "letra-titulo");
                color: map-get($colores, "color-secundario");
            }

        }
        .atajoProjectsAbout {
            a {
                color: map-get($colores, "color-secundario");
                font-weight: 700;
                text-decoration: none;
                @include margen (10px, 10px, 10px, 10px);
                font-size: map-get($letras, "letra-default");

                &:hover {
                    background-color: map-get($colores, "color-principal");
                    opacity: 30%;
                }

            }
        }

    }



/*body projects*/
.projectos {
    @include flex (row,center,center);
}

.card {
    margin: 30px!important;
    padding: 20px!important;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    background-color:  map-get($colores, "color-principal"); 
   
p{
    margin-bottom: 20%;
   color: #eae0d5;
}

    img {
        height: auto;
        width: 100%;
        align-items: center;
    }
}



/*body aboutme*/
.miinfo {
    @include margen (10px, 10px, 10px, 10px);
    font-size: map-get($letras, "letra-default");
}

.carousel-item {
    img {
        height: 50vh;
        @include margen (20px, 20px, auto, auto);
    }

    .w-100 {
        width: 70% !important;
    }

}

.atajoProjectscontact {
    a {
        color: map-get($colores, "color-secundario");
        font-weight: 700;
        text-decoration: none;
        @include margen (10px, 10px, 10px, 10px);
        font-size: map-get($letras, "letra-default");

        &:hover {
            background-color: map-get($colores, "color-principal");
            opacity: 10%;
        }
    }

}

/*body study*/

.img_study {
    padding: 20px;

    img {
        height: 500px;
        width: 700px;
    }
}

.instituciones {
    ol {
        list-style: none;
        margin: 0;
        padding: 0;

        a {
            margin: 20px;
            font-size: map-get($letras, "letra-default");
            color: map-get($colores, "color-secundario");
        }
    }

}

.mi_iframe {
    iframe {
        width: 700px;
        height: 500px;
        @include margen (20px, auto, auto, auto);
    }
}

/*body contact*/
.titulocolor {
    span {
        color: map-get($colores, "color-secundario");
        font-size: 0;
        line-height: 1.5;
    }
}

.titulocolor {
    span {
        letter-spacing: 7px;
        font-size: map-get($letras, "letra-subtitulo");
        font-weight: 700;
        animation: move 3s ease-in-out infinite;
    }
}

@keyframes move {
    0% {
        transform: translate(-500%, 0);
    }

    50% {
        text-shadow: 0 50px 50px map-get($colores, "color-secundario");
    }

    100% {
        transform: translate(500%, 0);
    }
}

.formulario {
    /*  background-color: rgba(0, 0, 0, 0.5); */
    background-image: url(../imagenes/formulario2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 6px;
    border: 1px;

    p.introform {
        background-color: rgba(0, 0, 0, 0.5);
        color: #eae0d5;
        font-size: 22px;
        font-weight: 700;
        border-radius: 6px;
    }

    input,
    textarea {
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: map-get($letras, "letra-default");
        border: none;
    }

    textarea {
        min-height: 100px;
        max-height: 200px;
        max-width: 100%;
    }

    /* #botonform{
    background:map-get($colores, "color-primario");
    color:map-get($colores, "color-letrablanca") ;
} */
    .botonform:hover {
        cursor: pointer;
    }
}