@import './base/variables';
@import './base/extends';

/* MEDIA QUERY */
@include mediaq('tablet') {

    /* header */
    .nav-link {
        font-size: map-get($letras, "letra-default");
    }

    .navbar-light {
        .navbar-toggler {
            color: map-get($colores, "color-secundario") !important;
            opacity: 50%;
        }

    }

    /* index */
    .flexindex {
        @include flex (column, center, auto);

        .mifoto {
            img {
                width: 350px;
                height: 500px;
            }
        }

        .atajoynombre {
            @include margen (10px, auto, auto, auto);

            .minombre {
                p {
                    font-size: map-get($letras, "letra-default");
                }
            }
        }
    }

    .index {
        @include margen (40px, auto, auto, auto);
    }

    /*aboutme*/
    .w-100 {
        width: $pantalla-completa  !important;
    }

    /*projectos*/

    .projectos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr)
    }

    /*contactos*/

    .projectos {
        .img_study {
            img {
                height: 300px;
                width: 500px;

            }
        }
    }
}

/*mobile*/
@include mediaq('mobile') {

    /* header */
    .nav-link {
        font-size: map-get($letras, "letra-default");
    }


    /*index*/
    .flexindex {
        @include flex (column, center, auto);

        .mifoto {
            img {
                width: 250px;
                height: 300px;
                @include margen (20px, 10px, auto, auto);
            }
        }

        .atajoynombre {

            .minombre {
                h1 {
                    font-size: map-get($letras, "letra-subtitulo");
                    margin: 0;
                }

                .mir {
                    font-size: map-get($letras, "letra-titulo");
                    margin: 0;
                }

                p {
                    font-size: map-get($letras, "letra-default");
                    margin: 15px;
                }

            }
        }
    }

    /*projectos*/
    .projectos {
        @include flex (column, center, center);

        .projectos__items {
            width: $pantalla-completa;

            img {
                height: 200px;
                width: $pantalla-completa;
                @include margen (30px, auto, auto, auto);
            }
        }
    }

    /*aboutme*/
    .carousel-item {
        .w-100 {
            width: $pantalla-completa  !important;
        }
    }

    /*contactos*/
    .mi_iframe {
        iframe {
            width: $pantalla-completa;
            height: 200px;
            @include margen (30px, auto, auto, auto);
        }
    }

    .formulario {
        form {
            @include margen (15px, 20px, auto, auto);
        }
    }

    /*study*/
    .instituciones {
        a {
            font-size: map-get($letras, "letra-default");
        }
    }

    .img_study {
        margin: 0;
        padding: 0;

        img {
            height: 200px;
            width: $pantalla-completa  !important;
        }
    }


    /*footer*/
    .RedesSociales {
        a {
            list-style: none;
            text-decoration: none;
        }

        .pie__RedesSociales__item {
            margin: 10px;
        }
    }


}