@import './base/variables';

@media screen and (max-width: 768px) {

    /* header */
    .nav-link {
        font-size: map-get($letras, "letra-default");
    }
    .navbar-light {
    .navbar-toggler {
        color:map-get($colores, "color-secundario")!important; 
        opacity: 50%;
    }

    }
    /* index */
    .flexindex {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .mifoto {
            img {
                width: 350px;
                height: 500px;
                margin-left: auto;
            }
        }

        .atajoynombre {
            margin: auto;
            margin-top: 10px;

            .minombre {
                p {
                    font-size: map-get($letras, "letra-default");
                }
            }
        }
    }

    .index {
        margin-top: 40px;
    }

    /*aboutme*/
    .w-100 {
        width: $pantalla-completa  !important;
    }

    /*projectos*/

    .projectos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr)
    }

    /*contactos*/

    .projectos {
        .img_study {
            img {
                height: 300px;
                width: 500px;

            }
        }
    }
}

/*mobile*/
@media screen and (max-width: 480px) {

    /* header */
    .nav-link {
        font-size: 10px;
    }


    /*index*/
    .flexindex {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .mifoto {
            img {
                width: 250px;
                height: 300px;
                margin: 20px;
                margin-top: 20px;
                margin-bottom: 10px;
            }
        }

        .atajoynombre {

            .minombre {
                h1 {
                    font-size: map-get($letras, "letra-subtitulo");

                    .mir {
                        font-size: map-get($letras, "letra-titulo");
                    }
                }

                p {
                    font-size: map-get($letras, "letra-default");
                }

            }
        }
    }

    /*projectos*/
    .projectos {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;

        div {
            img {
                height: 300px;
                width: $pantalla-completa  !important;
                margin-top: 30px;
                margin-left: 0 !important;
            }
        }
    }

    /*aboutme*/
    .carousel-item {
        .w-100 {
            width: $pantalla-completa  !important;
        }
    }

    /*contactos*/
    .mi_iframe {
        iframe {
            width: $pantalla-completa;
            height: 200px;
            margin-bottom: 10px;
        }
    }

    .formulario {
        form {
            margin-bottom: 20px;
            margin-top: 15px;
        }
    }

    /*study*/
    .instituciones {
        a {
            font-size: map-get($letras, "letra-default");
        }
    }

.img_study {

        img {
            height: 200px;
            width: $pantalla-completa,!important;
            margin-left: 0;
            padding: 0;
        }
    } 

    /*footer*/
    .RedesSociales {
        a {
            list-style: none;
            text-decoration: none;
            font-size: 12px;
            font-weight: 500;
        }

        .pie__RedesSociales__item {
            margin: 10px;
        }
    }


}