@import './base/variables';
@import './base/extends';

/* MEDIA QUERY */
@include mediaq('tablet') {

    /* header */
    .encabezado {

        font-size: map-get($letras, "letra-default");
        
        .navbar-light {
            .navbar-toggler {
                color: map-get($colores, "color-secundario") !important;
                opacity: 50%;
            }
        }
    }

    /* index */
    .flexindex {
        @include flex (column, center, auto);

        img {
            @include margen (auto, auto, auto, 90px);
        }

        .atajoynombre {
            width: 100%;
            @include margen (0px, auto, auto, auto);

            .minombre {
                p {
                    font-size: map-get($letras, "letra-default");
                }
            }
        }
    }

    .index {
        @include margen (40px, auto, auto, auto);
    }

    /*aboutme*/
    .w-100 {
        width: $pantalla-completa  !important;
    }

    /*projectos*/

    .projectos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        .card{
        width: auto;
        }
    }
   
}

/*mobile*/
@include mediaq('mobile') {

    /* header */
    .encabezado {
        width: 100%;

        .nav-link {
            font-size: map-get($letras, "letra-default");
        }
    }

    /*index*/
    .flexindex {
        @include flex (column, center, auto);

        img {
            width: 100%;
            height: 400px;
            margin: 0px;
        }


        .atajoynombre {
            width: 100%;
            margin: 0px;

            .minombre {
                h1 {
                    font-size: map-get($letras, "letra-subtitulo");
                    margin: 0;
                }

                .mir {
                    /* es aproposito que el apellido quede mas grande en la viste mobile, queda mas lindo esteticamente a mi gusto */
                    font-size: map-get($letras, "letra-titulo");
                    margin: 0;
                }

                p {
                    font-size: map-get($letras, "letra-default");
                    margin: 15px;
                }
            }
        }
    }

    /*projectos*/
    .projectos {
        @include flex (column, center, center);
.card{
    width: 100%;
        .projectos__items {
            width: $pantalla-completa;

            img {
                height: 400px;
                width: $pantalla-completa;
                @include margen (30px, auto, auto, auto);
            }
        }

    }
    }

    /*aboutme*/
    .carousel-item {
        .w-100 {
            width: $pantalla-completa  !important;
        }
    }

    /*contactos*/
    .mi_iframe {
        iframe {
            width: $pantalla-completa;
            height: 200px;
            @include margen (30px, auto, auto, auto);
        }
    }

    .formulario {
        width: 100%;
         p.introform {
            font-size: map-get($letras, "letra-default");
            margin: 10px;
        }
    }

    /*study*/
    .instituciones {
        a {
            font-size: map-get($letras, "letra-default");
        }
    }

    .img_study {
        margin: 0;
        padding: 0;

        img {
            height: 200px;
            width: $pantalla-completa  !important;
        }
    }

    /*footer*/
    .RedesSociales {
        a {
            list-style: none;
            text-decoration: none;
        }

        .pie__RedesSociales__item {
            margin: 10px;
        }
    }
}