* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: black;
}

/*header*/
.bg-light {
    background-color: #2B2E4A !important;
}

.navbar-collapse {
    flex-grow: initial;
}

.navbar-light .navbar-nav .nav-link {
    color: #E84545;
}

.encabezado {
    position: sticky;
    top: 0;
}

/*body index*/
.allmains {
    background-image: url(./imagenes/fondo/fondo1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.flexindex {
    display: flex;
    justify-content: center;

}

.atajoynombre {
    margin: auto;
}

.minombre h1 {
    font-size: 60px;
}

.minombre h6 {
    font-size: 20px;
}

.mifoto img {
    width: 300px;
    height: 400px;
    margin: 30px;
}

.atajoProjectsAbout a {
    color: #E84545;
    font-weight: 700;
    text-decoration: none;
    margin: 10px;
    font-size: 15px;
}

.atajoProjectsAbout a:hover {
    background-color: #2B2E4A;
    opacity: 30%;
}

/*aboutme*/
.carousel-item img {
    height: 50vh;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.w-100 {
    width: 70% !important;
}

.miinfo {
    margin: 10px;
    font-size: large;


}

.atajoProjectscontact a {
    color: #E84545;
    font-weight: 500;
    text-decoration: none;
    margin: 10px;
    font-size: 15px;
    text-align: center;
    margin: 10px;

}

.atajoProjectscontact a:hover {
    background-color: #2B2E4A;
    opacity: 30%;

}

/*bodyprojects*/

h3 {
    margin: 10px;
    color: black;
    opacity: 70%;
}

.projectos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr)
}

.projectos {
    align-content: stretch;
    justify-items: center;
}

.projectos div img {
    margin: 10px;
    height: 300px;
    width: 80%;
    margin-top: 30px;
}

/*contactos*/
.introform {
    margin: 30px;
}

.titulocolor {
    color: #E84545;
    font-size: 30px;
}

/*study*/
.instituciones a {
    margin: 20px;
    font-size: large;
    color: #E84545;
}

.instituciones ol {
    list-style: none;
}

.img_study img {
    height: 500px;
    width: 700px;
}

/*ruta*/
.ruta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mi_iframe iframe {
    width: 700px;
    height: 500px;
    margin-top: 20px;
}

/*footer*/
.pie {
    background-color: #2B2E4A;
    text-align: center;

}

.RedesSociales {
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

.bi {
    color: #E84545;
}

.copyright {
    font-size: smaller;
    padding-bottom: 10px;
    opacity: 30%;

}

.img_study {
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

/*tablet*/
@media screen and (max-width: 768px) {
    .nav-link {
        font-size: 10px;
    }

    .minombre h1 {
        font-size: 40px;
    }

    .flexindex {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /*aboutme*/
    .w-100 {
        width: 100% !important;
    }

    /*projectos*/

    .projectos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr)
    }

    /*contactos*/
    .mi_iframe iframe {
        width: 500px;
        height: 300px;
        margin-bottom: 10px;
    }

    .img_study img {
        height: 300px;
        width: 500px;

    }
}

/*mobile*/
@media screen and (max-width: 480px) {

    .nav-link {
        font-size: 10px;
    }

    /*index*/
    .flexindex {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .minombre h1 {
        font-size: 40px;
    }

    .minombre h6 {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .mifoto img {
        width: 250px;
        height: 300px;
        margin: 20px;
    }

    /*projectos*/
    .projectos {

        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .projectos div img {
        height: 300px;
        width: 300px;
        margin-top: 30px;
    }

    /*aboutme*/
    .aboutmeimg {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center
    }

    /*contactos*/
    .mi_iframe iframe {
        width: 300px;
        height: 200px;
        margin-bottom: 10px;
    }

    .formulario form {
        margin-bottom: 20px;
        margin-top: 15px;
    }

    /*study*/
    .instituciones a {
        font-size: small;

    }


    /*footer*/
    .RedesSociales a {
        list-style: none;
        text-decoration: none;
        font-size: 12px;
        font-weight: 500;
    }

    .img_study img {
        height: 200px;
        width: 300px;
    }

    .pie__RedesSociales__item {
        margin: 10px;
    }
}