$letras: (
    "letra-titulo": 45px,
    "letra-subtitulo": 30px,
    "letra-default": 16px,
    "letra-chica": 10px,
);
$colores: (
    "color-principal": #2b2e4a,
    "color-secundario": #E84545,
);
$pantalla-completa: 100%;