$letras: (
    "letra-titulo": 70px,
    "letra-subtitulo": 30px,
    "letra-default": 20px,
    "letra-chica": 16px,
);
$colores: (
    "color-principal": #22333B,
    "color-secundario": #5E503F,
    "color-letrablanca": #C6AC8F,
);
$pantalla-completa: 100%;